@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 20px;
}

img {
	width : 200px;
	margin : 0px auto;
	align-content : flex-start;
	display: flex;
	cursor: pointer;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

input {
	font-size : 20px;
	border : none;
	cursor: default;
	text-align: center;
	margin: 0;
  	padding : 0px;
}

.confirm-cancle {
	margin: 10px auto;
  	padding : 13px;
  	width: 100%;
	border : solid;
  	border-radius: 8px;
  	color : white;
  	background-color: #5C75E6;
	transition: 0.15s;
}

.confirm-cancle:hover {
  transform: scale(0.97);
  background-color: #4f6ae3;
}

#button-div {
	position: relative;
  	margin: 0px auto;
  	padding : 0px;
  	width : 100%;
  	display: flex;
  	background-color: white;
}


select {
	border : none;
	margin: 10px auto;
  	padding : 0px;
  	width: 100%;
  	text-align: center;
  	font-size: 20px;
  	background-color: transparent;
}

h1 {
  top : 50px;
  margin: 10px auto;
  padding : 0px;
  padding: var(--padding);
  text-align: center;
}

#form {
	top : 30px;
  position: relative;
  margin: 0px auto;
  padding : 0px;
  width : 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border : none;
}

table {
	margin: 5px auto;
  	padding : 2px;
  	position: relative;
  	text-align: center;
  	border : none;
  	width : 100%;
}

table , tr , td {
	border-radius: 8px;
}

.body {
	border-top-right-radius : inherit;
	border-color : black;
}

.body2 {
	border-top-right-radius : inherit;
	border-color : black;
}

.head {
	background-color: #5C75E6;
	color : white;
	font-weight: bold;
	border-color : #5C75E6;
	margin: 30px auto;
 	padding : 10px;
}

input:focus , select:focus {
	outline: none;
}

.body2:hover {
	color : white;
	font-weight : bold;
	border-top-right-radius : inherit;
	border-color : #5C75E6;
	background-color: #5C75E6;
}